---
name: Run tests
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim_version: ["nightly", "stable"]

    steps:
      - uses: actions/checkout@v4.2.2
      - name: Set up dependencies
        run: |
          echo "no dependencies to install"

      - name: Run tests
        uses: nvim-neorocks/nvim-busted-action@v1.1.0
        with:
          nvim_version: ${{ matrix.neovim_version }}
          luarocks_version: "3.11.1"

      - uses: pnpm/action-setup@v4.1.0
        with:
          # https://github.com/pnpm/action-setup?tab=readme-ov-file#use-cache-to-reduce-installation-time
          run_install: false

      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - run: pnpm install
      - name: Install lazygit
        run: |
          # https://github.com/jesseduffield/lazygit?tab=readme-ov-file#ubuntu
          # https://api.github.com/repos/jesseduffield/lazygit/releases/latest
          LAZYGIT_VERSION="https://github.com/jesseduffield/lazygit/releases/download/v0.54.0/lazygit_0.54.0_Linux_x86_64.tar.gz"
          curl -Lo lazygit.tar.gz $LAZYGIT_VERSION
          tar xf lazygit.tar.gz lazygit
          sudo install lazygit -D -t /usr/local/bin/
          echo "Installed lazygit version ${LAZYGIT_VERSION}"
          echo "lazygit version $(lazygit --version)"
          echo "lazygit path $(which lazygit)"

      # need to work around https://github.com/cypress-io/github-action/issues/1246
      - run: pnpm --filter integration-tests exec cypress install

      - name: Preinstall neovim plugins
        working-directory: integration-tests/
        run: |
          # NVIM_APPNAME=nvim is the default, but spelled out here for clarity
          NVIM_APPNAME=nvim pnpm tui neovim prepare
          NVIM_APPNAME=nvim_formatting pnpm tui neovim prepare

      - name: Cypress test
        uses: cypress-io/github-action@v6
        with:
          install: false
          command: pnpm tui run

      - uses: actions/upload-artifact@v4.6.2
        # add the line below to store screenshots only on failures
        # if: failure()
        if: failure()
        with:
          name: cypress-screenshots
          path: integration-tests/cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`
